

.myButton {
    width: 80%;
    margin: 10px 10%;
    height: rem(50);
   
    
}

.greeting {
    color: green;
    font-size: rem(20);
    text-align: center;
}

.text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
    @include border(bottom)
}

