
:global {
    .app {
        height: 100vh;
        width: 100vw;
        display: flex;
        overflow: hidden;
    }
    body {
        background-color: #f7f7f7
    }

}

.left_menu {
    width: 256px;
    height: 100vh;
    background: #001529;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
   
    .logo {
        height: 63px;
        line-height: 63px;
        width: 100%;
        text-align: center;
    }
    .logo img {
        height: 80%;
        vertical-align: middle;
    }
   
}

.right_content {
    width: 100%;
    margin-left: 256px;
    .router_context {
        position: relative;
        z-index: 5;
        height: calc(100vh - 108px);
       
        overflow: auto;
       

    }


}
.right_content_hideMenu {
    margin-left: 80px;

}

.left_menu_hide {
    width: 80px;

}
