
:global {
    .app {
        height: 100vh;
        width: 100vw;
        display: flex;
        overflow: hidden;
    }
    body {
        background-color: #f7f7f7
    }

}

.left_menu {
    width: 256px;
    height: 100vh;
    background: #001529;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
   
    .logo {
        height: 63px;
        line-height: 63px;
        width: 100%;
        text-align: center;
    }
    .logo img {
        height: 80%;
        vertical-align: middle;
    }
   
}

.right_content {
    width: 100%;
    margin-left: 256px;
    .header {
        height: 108px;
        width: 100%;
        // @include border(bottom);
       
        .control {
            height: 64px;
            width: 100%;
            display: flex;
            align-items: center;
            background: #fff;
            box-shadow: 0 1px 4px rgba(0,21,41,.08);
            .icon {
                padding: 0 10px;
                height: 64px;
                display: inline-block;
                cursor: pointer;
                display: flex;
                align-items: center;

            }
            .icon_refresh {
                padding: 0 20px;

            }
            .breadcrumb {
                flex: 1;
                padding-left: 10px;
            }
            .search_input {
                width: 100px;
                input {
                    border: none;
                }
                input::-webkit-input-placeholder {
                    color: #c5c8ce;
                }

            }
            .userImg {
                display: flex;
                align-items: center;
                padding: 0 12px;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .userName {
                    font-size: 14px;
                    padding-left: 10px;
                   
                }
            }
            
            


        }
        .tabs {
            height: 44px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
            // overflow: hidden;
            .tag_action {
                width: 32px;
                height: 32px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
                z-index: 10;
                
               

            }
            .icon {
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

            }

            
           
            
          
           
            .content {
                height: 34px;
                position: relative;
                width: 100%;
                flex: 1;
                overflow: hidden;
                // margin: 0 50px;
              
                .tab_list {
                    width: auto;
                    height: 32px;
                    position: absolute;
                    z-index: 5;
                   
                    white-space: nowrap;
                    transition: left .3s ease;
                    // transform: translateX(-18px);
                    top: 0;
                    left: 0;
                   
                }
                

            }
         
         
            

        }

    }

    .router_context {

    }


}